[Desktop Entry]
Encoding=UTF-8
Name=Link to Chp.5.6.R1 kB ROpen file
Type=Link
URL=https://lotterhoslab.slack.com/files/UJ1R4GF3K/F014H90F94P/chp.5.6.r?origin_team=T170T7N8H&origin_channel=CCQ94T59S
Icon=text-html
